/* **NOTE**: CSS From Glitch.com left alone. Removal will cause pure pain. */

/* Our default values set as CSS variables */
:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

@keyframes fadeInAnimation {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeInAnimation2 {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.6;
     }
}


body {
  font-family: HK Grotesk;
  background-color: #FBFAF5;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: #2800FF;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  color: #2800FF;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

/* START of MY OWN CSS */

.sidebar {
  height: 100%;
  width: 37%;
  margin: 0;
  padding: 0;
  background-image: url("https://iili.io/VWgYyF.gif");
  background-size: cover;
  text-align: right;
  padding-right: 70px;
  float: left;
}

.pfp {
  height: 100px;
  width: 100px;
  padding-top: 40%;
  margin-left: 80%;
}

.pfpimg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.name {
  color: white;
  opacity: 0.6;
  padding-top: 100px;
}

.intro {
  color: white;
  margin-top: -10px;
  opacity: 0.6;
  line-height: 40px;
  font-weight: 400;
}

.git {
  opacity: 0.6;
  width: 25px;
  height: 25px;
  margin-left: 80%;
  margin-top: 80px;
  filter: brightness(200%);
}

.mainbar {
  width: 63%;
  float: left;
  padding-top: 12%;
  padding-left: 70px;
  padding-right: 70px;
  color: #4d4d4d;
  line-height: 30px;
  position: relative;
}

.mainbar p {
 animation: ease 0.5s fadeInAnimation; 
}

.mainbar h1 {
  animation: ease 0.5s fadeInAnimation;
}

.arrowright {
  display: block;
  margin-left: auto;
  width: 42px;
  height: 42px;
  display: inline-block;
  float: right;
  transition: all 0.5s ease;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation: ease 0.2s fadeInAnimation;
}

.arrowleft {
  width: 42px;
  height: 42px;
  display: inline-block;
  float: left;
  transition: all 0.5s ease;
  animation: ease 0.2s fadeInAnimation;
}

.arrowright:hover {
  filter: drop-shadow(3px 3px 3px #4a4a4a);
}

.arrowleft:hover {
  filter: drop-shadow(3px 3px 3px #4a4a4a);
}

.mainbar h1 {
  display: inline-block;
  float: left;
}

.head1 {
  
}

.head2 {
  
}

.head3 {
  
}

.nav {
 text-align: center; 
}

html {
  height: 100%;
}
